#testimonial{


.testimonials-container {
  padding: 40px 0;
}

.carousel-indicators {
  bottom: 0;
  top:300px;
  
  margin-bottom: 20px;
}

.carousel-indicators li {
  background-color: #fff;
  border: 50px;
  border: 1px solid #34b7a7;
  width: 1.5px;
  height: 1.5px;
  padding: 5px;
  border-radius: 50%;

}


.carousel-indicators .active {
  background-color: #34b7a7;
}

.carousel-inner {
  overflow: hidden;
}

.testimonial-item {
  text-align: center;
  padding: 30px;
}

.testimonial-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto 20px;
}

.testimonial-item h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #111;
}

.testimonial-item h4 {
  font-size: 16px;
  color: #999;
  margin-bottom: 15px;
}

.testimonial-item p {
  font-style: italic;
  margin-bottom: 0;
  font-size: large;
  font-weight: normal;
}

.quote-icon-left,
.quote-icon-right {
  color: #c8efea;
  font-size: 24px;
}

.quote-icon-left {
  position: relative;
  top: -5px;
  left: -5px;
}

.quote-icon-right {
  position: relative;
  top: 5px;
  right: -5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #34b7a7;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

}